body{
    margin: auto;
}

#container{
    background-color: #8b9e6E;
    color:white;
    margin-top: 0;
    /*padding: 0;*/
    font-family: sans-serif;
}
#banner{
    padding-left: 10%;
    padding-right: 10%;
}

.navbar h4{
    margin-top: 0.9rem;
}

.navbar{
    display:flex;
    justify-content: space-between;
    margin-right: 3.5rem;
    /*margin-top: 2rem;*/
}

.navbar button{
    font-size: 0.7rem;
    margin-top: 1rem;
    background-color: black;
    color:white;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    border-radius: 10px;
}

.navbar a{
    font-size: 0.7rem;
    margin-top: 3rem;
}

.Intro {
    display: flex;
    justify-content: space-between;
}

.Intro img{
    margin-right: 18rem
}

.Intro-1 p {
    font-size: 9px;
    opacity:0.9;
    margin-bottom:2rem;
}

.Chairs{
    display: flex;
    margin-left: 35rem;
    align-items: flex-end;
    height: 8rem;
}

.check{
    display: flex;
    position: relative;
    top: 0.5rem;
    right: 0.5rem;
    height: 5rem;
}

.check1 button{
    background-color: black;
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: none;
    border-radius: 1.5rem;
}

.check2 button{
    background-color:#8b9e6E;
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius:1.5rem;
    border: 1px solid white;
}

.lowerSection{
    display: flex;
    justify-content: space-between;
    margin: 5rem;
    margin-top: 2rem;
}

.Info p{
    font-size: 0.5rem;
    font-weight: lighter;
}
.detail1{
    align-content: center;
}